{% extends "layout.html" %}
{% block content %}
  <div class="row">

   {% for post in posts %}
    <div class="col-lg-4">
          <div class="box-element product">

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href={{post.url}}>buy here</a>
              <small class="text-muted">{{post.rating}}</small>
            </div>
            <h2><a class="article-title" style ="font-size:15px" href={{post.url}}>{{ post.title }}</a></h2>
            <a class="mr-2" href="#">{{ post.price }}</a>
            <a href={{post.url}}>
            {% if post.image == "amazon" %}
             <img  class= "logo" src="{{ url_for('static', filename='amazon.jpg') }}" width="200px" height="100px"  alt="">
             {% else %}
             <img class= "logo" src="{{ url_for('static', filename='Flipart.png') }}" width="200px" height="100px"  alt="">
             {% endif %}
             </a>
            <!-- <p>{{post}}.</p> -->
          </div>
        </article>
        </div>
  </div>
    {% endfor %}

</div>
{% endblock content %}
